.header {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-xl);
}

.titles {
  gap: 2px;
}

.title {
  font-size: 28px;
}

.subtitle {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
}
